.heading::before{
    content: "";
    background-color: black;
    height: 3px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}

.heading::after{
    content: "";
    background-color: black;
    height: 3px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}

.heading{
    position: absolute;
}


.rounded1{
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right:4rem ;
    padding: 5rem 2rem;
    border: 1px solid purple;
    border-radius: 10px;
    background-color: purple;
}


.rounded2{
    margin-top: 4rem;
    margin-left: 4rem;
    margin-right:4rem ;
    padding: 5rem 2rem;
    border: 1px solid green;
    background-color: green;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 3rem;
}