@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" sans-serif;
}

:root{
   --Soft_orange: hsl(35, 77%, 62%);
   --Soft_red: hsl(5, 85%, 63%);
   --Off_white: hsl(36, 100%, 99%);
   --Grayish_blue: hsl(233, 8%, 79%);
   --Dark_grayish_blue: hsl(236, 13%, 42%);
   --Very_dark_blue: hsl(240, 100%, 5%);
   --very_dark_blue_transparent: rgba(0, 0, 25, 0.442);
   --regular: 400;
   --bold: 700;
   --more_bold: 800;
}

#input{
    opacity: 0;
}

.main_wrapper{
    padding: 1rem;
}

.main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*position: fixed;
    z-index: 1000;*/
}

.nav_bar{
    background-color: var(--very_dark_blue_transparent);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav_list{
    list-style: none;
    position: fixed;
    background-color: var(--Off_white);
    top: 0;
    left:25%;
    padding: 30% 2rem;
    height: 100%;
    width: 100%;
}

.navitems{
    text-decoration: none;
    display: block;
    color: var(--Very_dark_blue);
    font-weight: var(--regular);
    transition: ease-in-out 0.2s;
    padding: 1rem;
}

.navitems:hover{
    background-color: var(--Soft_red);
    color: var(--Off_white);
    transform: translate();
}


.menuContainer{
    display: block;
    width: 32px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}

.menuButton{
    position: absolute;
    z-index: 1000;
}

.hamburger, .hamburger::before, .hamburger::after{
    display: block;
    background-color: var(--Very_dark_blue);
    width: 2rem;
    position: absolute;
    z-index: 1000;
    height: 3px;
}

.hamburger::before{
    content: "";
    top: -6px;
}


.hamburger::after{
    content: "";
    top: 6px;
}

#input:checked{
    position: absolute;
    right: 1rem;
    z-index: 1000;
}



#input:checked ~ .menuContainer .hamburger{
    transform: rotate(0.625turn);
}

#input:checked ~ .menuContainer .hamburger::before{
    transform: rotate(90deg) translate(6px);
}

#input:checked ~ .menuContainer .hamburger::after{
    opacity: 0;
}
#input:checked + .nav_bar{
    transform: translate(0%);
    z-index: 500;
    display: flex;
    flex-direction: column;
    
}

.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.wrapper{
    display: flex;
    flex-direction: column;
}


img{
    max-width: 100%;
}

.web_3{
    display: none;
}

.text .main-text h1{
    font-size: 4rem;
    font-weight: var(--more_bold);
    margin-top: 0.5rem;
}

.text .subText p{
    font-size: 1rem;
    margin-top: 1rem;
    word-spacing: 1px;
    line-height: 1.5rem;
}

.text-link{
    margin-top: 1.5rem;
}

.subText .link{
    padding: 0.5rem 1.5rem;
    background-color: var(--Soft_red);
    text-decoration: none;
    font-size: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    color: var(--Off_white);
    text-rendering: optimizeLegibility;
}


.subText p{
    margin-bottom: 1.5rem;
}

.section2{
    margin-top: 4rem;
    background-color: var(--Very_dark_blue);
    color: var(--Off_white);
}

.wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.features_head{
    color: var(--Soft_orange);
    font-weight: var(--bold);
    font-size: 2rem;
}

.features{
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.features:nth-child(-n+3){
    border-bottom: 1px solid var(--Off_white);
    padding-bottom: 1rem;
}

.features h4{
    margin-bottom: 0.5rem;
}

.features p{
    line-height: 1.5rem;
    font-size: 15px;
}

.section3{
    margin-top: 4rem;
}

.about{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.web-2{
    max-width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.info .num{
    color: var(--Dark_grayish_blue);
    font-weight: var(--bold);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.info .title{
    margin-bottom: 0.5rem;
    font-weight: var(--more_bold);
    font-size: 1.2rem;
    color: var(--Very_dark_blue);
}

.info .message{
    line-height: 1.5rem;
    font-size: 15px;
}

.attribution{
    text-align: center;
}

.idris{
    text-decoration: none;
    color: var(--Very_dark_blue);
    text-transform: uppercase;
}

@media only screen and (min-width: 738px){

    .main_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }

    .hamburger,.hamburger::after,.hamburger::before{
        display: none;
    }

    .nav_bar{
        display: block;
        background-color: transparent;
        position: absolute;
        margin-left: 40rem;
    }
    
    .nav_list{
        list-style: none;
        background-color: transparent;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0px;
        height: 0%;
        width: 0%;
        
    }
    
    .navitems{
        text-decoration: none;
        display: inline-block;
        color: var(--Very_dark_blue);
        font-weight: var(--regular);
        padding: 1rem;
        top: 0;
        margin-right: 2rem;
        overflow: hidden;
    }
    
    .navitems:hover{
        background-color: var(--Soft_red);
        color: var(--Off_white);
        transform: translate();
    }

    .web_3{
        display: block;
    }

    .web_2{
        display: none;
    }

    .hero-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .section1{
        margin-right: 2rem;
        width: 65%;
    }
    .text{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .text .main-text h1{
        font-family: "Inter";
        font-weight: var(--more_bold);
        line-height: 4.5rem;
        font-size: 4rem;
        word-spacing: 1px;
    }


    
    .text .subText p{
        line-height: 2rem;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        margin-left: 5rem;
    }
    
    .subText .link{
        background-color: var(--Soft_red);
        padding: 0.7rem 2rem;
        color: #fff;
        letter-spacing:.3rem ;
        margin-left: 5rem;
        text-align: center;
        display: inline-block;
        margin-top: 0.5rem;
    }
    
    a{
        text-decoration: none;
        color:hsl(236, 13%, 42%);
        font-family: "Inter";
    }

    .section2{
        background-color: var(--Very_dark_blue);
        color: var(--Off_white);
        width: 35%;
        padding: 2rem;
        margin-top: 0rem;
    }
    
    .wrapper2{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    .features_head{
        color: var(--Soft_orange);
        font-weight: var(--bold);
        font-size: 3rem;
        font-family: "Inter" sans-serif;
    }
    
    .features{
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .features:nth-child(-n+3){
        border-bottom: 1px solid var(--Off_white);
        padding-bottom: 2.5rem;
    }
    
    .features h4{
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
    }

    .features p{
        line-height: 1.7rem;
        font-size: 1.3rem;
    }
    .section3{
        margin-top: 4rem;
    }
    
    .wrapper3{
        display: flex;
        justify-content: space-between;
    }
    
    
    .about{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .web-2{
        max-width: 100%;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .info .num{
        color: var(--Dark_grayish_blue);
        font-weight: var(--bold);
        font-size: 1.85rem;
        margin-bottom: 0.5rem;
    }
    
    .info .title{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        font-weight: var(--more_bold);
        font-size: 1.5rem;
        color: var(--Very_dark_blue);
    }
    
    .info .message{
        margin-top: 10px;
        line-height: 1.8rem;
        font-size: 1.5rem;
    }
    
    
    
    
    
    


    
    















}   





/*  
@media only screen and (max-width: 1441px) {

.row{
    max-width: 1000px;
    margin: 0 auto;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.nav_bar{
    margin-left: 6rem;
}

.menuContainer{
    display: none;
}

#input{
    display: none;
}

li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-left: 3rem;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.web_2{
    display: none;
}

.web_3{
    max-width: 100%;
}

p{
    font-size: 15px;
    
}

.section1{
    margin-right: 2rem;
}
.text{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}


/*.main-text{
    margin-right: 2rem;
}


.main-text h1{
    font-family: "Inter";
    font-weight: var(--more_bold);
    line-height: 2.2rem;
}

.subText p{
    line-height: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.link{
    background-color: var(--Soft_red);
    padding: 0.7rem 2rem;
    color: #fff;
    letter-spacing:.3rem ;
    margin-left: 3rem;
    text-align: center;
}

a{
    text-decoration: none;
    color:hsl(236, 13%, 42%);
    font-family: "Inter";
}

.section2{
    background-color: var(--Very_dark_blue);
    color: var(--Off_white);
}

.wrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.features_head{
    color: var(--Soft_orange);
    font-weight: var(--bold);
    font-size: 2rem;
    font-family: "Inter" sans-serif;
}

.features{
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.features:nth-child(-n+3){
    border-bottom: 1px solid var(--Off_white);
    padding-bottom: 1rem;
}

.features h4{
    margin-bottom: 0.5rem;
}

.section3{
    margin-top: 4rem;
}

.wrapper3{
    display: flex;
    justify-content: space-between;
}


.about{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.web-2{
    max-width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.info .num{
    color: var(--Dark_grayish_blue);
    font-weight: var(--bold);
    font-size: 1.85rem;
    margin-bottom: 0.5rem;
}

.info .title{
    margin-bottom: 0.5rem;
    font-weight: var(--more_bold);
    font-size: 1.2rem;
    color: var(--Very_dark_blue);
}

.info .message{
    line-height: 1rem;
    font-size: 15px;
}


/* old 



.hero2 h2{
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
}

.web-3{
    width: 100%;
}

.content{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme h2{
    font-family: "Inter";
    font-size: 35px;
    font-weight: 900;
}

.theme-content{
    margin-left: 9rem;
}

.button{
    margin-top: 1rem;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right:20px;
    color: #fff;
    background-color:  hsl(5, 85%, 63%);
}

.hero2{
    padding: 1rem 2.5rem;
    margin-left: 3rem;
    color: #fff;
    background-color:hsl(240, 100%, 5%);
    justify-content: center;
}

.features:nth-child(-n+3){
    border-bottom: 1.5px solid #fff;
}

.new-section{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    overflow: hidden;
}

.about{
    display: flex;
}

.web-2{
    width: 100%;
}

.info{
    padding-left: 1rem;
    padding-right: 1rem;
}

.info h2{
    color:hsl(233, 8%, 79%); 
    margin-top: -0.2rem;
    font-size: 2rem;
    font-family: "Inter";
}

.info h4{
    color: hsl(240, 100%, 5%);
    margin-top: -0.2rem;
    font-family: "Inter";
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1rem;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

}

*/

/*.navigation{
    padding-right: 20rem;
}*/
































